@using Microsoft.AspNet.Identity
<div class="login-sidebar">
    @if (Request.IsAuthenticated)
    {


        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
        {
            @Html.AntiForgeryToken()

        
            <img class="img-login" height="50" width="50" src="~/images/Black-User.png" />
        
            <ul class="list-unstyled">
                <li>
                    @Html.ActionLink(User.Identity.GetUserName() + "...", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>

            </ul>
        }

    }
    else
    {

        <ul class="nav navbar-nav navbar-right">

            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
</div>