body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 11px;
    background: url("/images/cream_pixels.png");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*Perosnalizado*/
.label-combo {
    font-weight: normal;
    padding-left: 10px;
    display: block;
    border-left: 4px solid #29ABE2;
    border-bottom: 1px solid #136991;
    border-top: 1px solid #136991;
    border-right: 1px solid #136991;
    color: #333333;
}
form label {
    font-weight: normal;
    padding-left: 1px;
    
    display: block;
    border-left: 4px solid #29ABE2;
    border-bottom: 1px solid #136991;
    border-top: 1px solid #136991;
    border-right: 1px solid #136991;
    color: #333333;
    /*height:21px;*/

}
.form-horizontal .control-label{
    padding-top: 2px;
}
.form-group{
    margin-bottom:5px;
}
.modal-header{
    padding: 8px 15px 8px 15px;
}

/*/////////////NAV BAR///////////////*/
.boton-barra-imagen {
    padding: 4px;
    margin-right: 5px;
    color: #fff;
    background-color: transparent;
    opacity: 0.7;
}

.navbar-default ul.navbar-nav {
    border-left: 1px solid #464646;
    border-right: 1px solid #464646;
    float: right;
    margin-right: -1px;
}
.navbar-default ul.navbar-nav li{
    list-style: none;
    float: left;
    border-right: 1px solid #252525;
    position: relative;
}
.navbar-default ul.navbar-nav li:first-child {
    border-left: 1px solid #252525;
}
.navbar-default ul.navbar-nav li a{
    cursor: pointer;
    display: block;
    border-left: 1px solid #464646;
    border-right: 1px solid #464646;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 45px;
    padding: 7px 6px;
    color:#eee;
}
.navbar-default .navbar-nav li a:hover{
    background: rgba(4,4,4, 0.75);
    border-left: 1px solid rgba(4,4,4, 0.75);
    border-right: 1px solid rgba(4,4,4, 0.75);
}

.navbar-default .navbar-nav li a:hover .boton-barra-imagen{
    opacity:1;
}

.dropdown {
    color: #fff;
}
.dropdown.open {
    color: #fff;
    background: rgba(4,4,4, 0.75);
}
.navbar {
    border-bottom: 2px solid rgb(241, 100, 72);
    background:     url("/images/nav-dark.png");
    padding: 0 10px;
}
.navbar-default .navbar-brand{
    height:0px;
    color: #fff;
}
.navbar{
    min-height: 48px;
}
.nav.navbar-nav {    
    border-radius: 2px 2px 2px 2px;
}
.navbar-default .dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu > li > a {
    padding: 2px 8px;
}

.dropdown-menu > li > a:hover {
    background-color: #dc2c0f;
    color: #fff;
}
/*Menus deplegables*/
.navbar-default ul.dropdown-menu {
    min-width: 160px;
    margin: 0;
    padding: 0;
    font-size: 11px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #555 !important;
}
.navbar-default ul.dropdown-menu li:first-child {
border-left:0px;
}
.navbar-default ul.dropdown-menu li {
    border:0;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}
.navbar-default ul.dropdown-menu li a{
    color: #555 !important;
    margin: 0;
    border:0;
    padding: 0 !important;
    height: 38px !important;
}
.navbar-default .dropdown-menu li a:hover{
    background: #fafafa;
    color: #656565;
    border:0;
}
/*Fin Menus deplegables*/
.navbar-default .navbar-collapse{
    
}
/*/////////////FIN NAV BAR///////////////*/

#content {
    margin-top: 5px;
    border-radius: 0px;
    height: 100%;
    padding-left: 10px;
}
.well-sm {
    padding: 0px;
}
.well{
    background-color:transparent;
    border:0;
}
#sidebar {
    padding: 0;
    margin-top: 5px;
    border-right: 1px solid transparent;
    border-color: rgb(169, 169, 169);
    background: url("/images/cream_pixels.png");
    width: auto;
    height: auto;
    border-top: 0;
    width:100%;
    max-width:16%;
	position: fixed;
    padding-right: 18px;
}

.login-sidebar {
    /*background-color:black;*/
    /*width:30%;*/
    /*height:140px;
    margin: 0 auto;*/
    padding:10px;
    
    min-height: 70px;
    
}

.img-login {
    border: 1px solid rgba(0, 0, 0, .10);
    bottom: 0;
    /*content: '';*/
    left: 0;
    /*position: absolute;*/
    right: 0;
    top: 0;
    float:left;
    background-color:#f5f5f5;
}

.txt-login {
    color: #fff;
    float: left;
    text-decoration:none;
    list-style:none;
    padding-left:8px;
    vertical-align:central;
}
.txt-login > li > a {
    color: #000;
    font-size:12px;
}

.sidebar-custom {
    clear: both;
}
/*dddddddddddd*/
.panel-body {
    padding: 2px 12px 2px 12px;
}
.modal-dialog {
    margin-top:60px;
    /*width:70%;*/
    
    max-width:80%
}
.modal-body{
    padding:5px 25px 5px 25px;
}
/*ffffffffffffff*/
/*yyyyyyyyyyyyyyBotones de Sidebaryyyyyyyyyyyyyyyyyyyyyyyyyyyyy*/
.list-panel-moulos {
    list-style-type: none;
    padding: 2px 4px 2px 15px;
}

    .list-panel-moulos li {
        margin: 1px;
    }
        .list-panel-moulos li .select {
            color: #000;
            background: #e7e7e7;
            font-weight: bold;
        }

        .list-panel-moulos li a:hover {
            color: #fff;
            background: #333333;
            text-decoration:none;
        }

        .list-panel-moulos li a {
            color: #000;
            padding: 2px;
            display: block;
        }

.boton-panel-imagen {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 4px;
    margin-right: 5px;
    color: #333;
    background-color: #FBC113;
    width: 24px;
    height: 24px;
}
/*yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy*/
footer {
    clear: both;
}

.input-validation-error, .required {
    border-left: 5px solid #ee0000 !important;
}

.valid {
    border-left: 5px solid #00aa00 !important;
}

.field-validation-error {
    color: #990000;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

tfoot {
    text-align: right;
}

    tfoot > tr > td a:link {
        color: #fff;
        background-color: #333;
        padding: 5px 10px;
        border-radius: 7px;
        
    }
.content{
    border: 1px solid #333;
    padding: 5px;
    margin-bottom:10px;
    background:#fff;
}
.search{
    margin-top:5px;
    margin-bottom:5px;
}
.clear{
    clear:both;
}.seccion-barra {
    font-weight: normal;
    display: block;
    background:#355681;
    color: #fff;
    padding: 2px 5px 2px 5px;
    font-size: 14px;
    margin-bottom:10px;
    border-bottom: 2px solid #2A242A;
    border-radius:5px 0px 5px 0px;
}
 .seccion-barra-black {
    font-weight:bold;
    display: block;
    color: #2A242A;
    padding: 5px 5px 5px 5px;
    border-bottom: groove #B3CDE9;
}