@{
    ViewBag.Title = "Panel Historias Clinicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Sidebar"] = "VigilaciaSalud";
    Session["SidebarSelect"] = "Historia";
}

@*<img id="spinner" style="display:none" src="/images/spinner.gif">*@
<div class="hc-container">
    <div class="hc-vertical">
        <ul>
            <li>
                <a data-modal='' href='/HistoriaClinica/ListaPersonal' title='Historia Clinica'><img src="/images/hc/hc.jpg" /></a>
                <p>Histórias Clinicas</p>
            </li>
            <li>
                <a href="#"><img src="/images/hc/med.jpg" /></a>
                <p>Médicos</p>
            </li>
            <li>
                <a href="/PermisoMedico"><img src="/images/hc/permiso.png" /></a>
                <p>Permisos Médicos</p>
            </li>
        </ul>
    </div>
    <div class="hc-horizontal">
        <ul>
            <li>
                <a data-modal='' href='/HistoriaClinica/ListaPersonal' title='Consulta Medica'><img src="/images/hc/cm.jpg" /></a>
                <p>Consultas Medicas</p>
            </li>
            <li>
                <a href="#"><img src="/images/hc/estad.jpg" /></a>
                <p>Estadisticas</p>
            </li>
        </ul>
    </div>
    <div class="hc-horizontal">
        <div class="hc-logo">
            <h3 class="h">Gestión Historias Clinicas</h3>
            <img style="opacity:1;" src="/images/hc/panel.png" />
            <a class="btn btn-success" href="/HistoriaClinica">Administracion de Historias Clinicas</a>
        </div>
    </div>
    <p class="text-warning" style="margin-left:25px;">Click en imagen, para ingresar a módulo</p>
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in' tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
            <div id='personal-new'></div>
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/scripts/appjs/phones.js")
    <script type="text/javascript">
        $(function () {
            $(document).delegate(".webgrid-row-style", "click", function (e) {
                var link = $(this).find('td:first #ipe_id_personal').attr('href');
                var id = $(this).find('td:first #ipe_id_personal').val();
                $("#spinner").show();
                //Si no tiene link, crea la historia y redirecciona
                if (link == "") {
                    if (confirm('El Empleado selecionado no registra una Historia Clinica, Desea crear una con la fecha actual?')) {
                        var url = "/HistoriaClinica/InsertarHistoria?IdPersonal=" + id;
                        console.log(url);
                        $.get(url, function (IdHistoriaClinica) {
                            console.log(IdHistoriaClinica);
                            if (IdHistoriaClinica != "") {
                                link = "/HistoriaClinica/Edit/" + id;
                                location.href = link;
                            } else {
                                link = "/HistoriaClinica/Panel";
                                location.href = link;
                            }
                        }, 'html');
                    } else {
                        return false;
                    }
                }
                location.href = link;
            });
        });
        $(document).ready(function () { //////// Inicio Cargado el Documento
            //Date Piker
            jQuery.validator.methods["date"] = function (value, element) { return true; }
        });
    </script>
}
