@model IEnumerable<CBM_SART.Models.iso_antecedente_personal>

<div class="title-window" style="height:32px">
    Seleciona un Antecedente Personal.
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">

    <h4 class="modal-title">Antecedentes Personales</h4>
</div>

<div class="" style="margin: 0px 10px;">
    <div class="col-md-12" >
        <br />

        <table class="table table-striped table-bordered table-hover" id="table" data-swhgajax="true" data-swhgcontainer="grid" data-swhgcallback="">
            <thead>
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:80%">
                        Antecedente Personal
                    </th>
                    <th style="width:10%">Acción</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:10%">@i</td>
                        <td style="width:60%">
                            @Html.DisplayFor(modelItem => item.iap_nombre_antecedente_p)
                        </td>
                        <td style="width:10%">
                            <a data-modal='' href='/Delete' id='1' title='Eliminar'> <span class='glyphicon glyphicon-trash'> </span> </a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>

        <div class="paging pagination-datatables pagination pagination-centered"></div>
    </div>
</div>
<div class="clear"></div>
<hr />

<div class="" style="margin: 0px 10px;">
    <p>Selecionar el Antecedente Perosnal que quieres adicionar</p>
    <div id="nombre">Nombre Antecedente</div>
    <input type="text" class="form-control" id="descrip" />
    <br />
    <br />
</div>


<script type="text/javascript" src="/Scripts/Datatable/datatable.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/Datatable/datatable-bootstrap.css">
<link rel="stylesheet" type="text/css" href="/Content/Datatable/datatable.css">
<script>
    //$('#table').datatable({
    //    searching: true,
    //    pageSize: 10,
    //    sort: [false, false, false],
    //    "columnDefs": [
    //        { "width": "20%", "targets": 0 }
    //    ]
    //});

    $("#table tbody tr").click(function () {
        console.log("incio");
        $("#table tbody tr").removeClass("select-cargo")
        $(this).addClass("select-cargo")
        
        $("#nombre").html($(this).find("td:nth-child(2)").html());
        //var IdCargo = $(this).find(".id-cargo").attr('id');
        //console.log(IdCargo);
        //PuestoAsignados("PuestosAsignados", IdCargo)
        //Ajax para traer datos

    });

</script>
