
@{
    ViewBag.Title = "Sistema de Gestión";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Sidebar"] = "SistemaGestion";
}

<h2>Sistema de Gestion</h2>

<img src="/images/sistemagestion.jpg" />